.table {
    margin-top: 20px;
}

.table .table_row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.table_header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
    background: rgb(204, 145, 228);
    padding: 10px 0px;
    border-radius: 10px;
}

.table .image {
    width: 30px;
    margin-right: 20px;
}

.table .code {
    width: 100px;
    margin-right: 20px;
}

.table .title {
    width: 700px;
    margin-right: 20px;
}

.table .table_header .image {

}