.table {
    margin-top: 20px;
    font-size: 15px;
}

.table .table_row {
    display: flex;
    align-items: center;
    padding: 4px 10px;
    border-bottom: 1px solid #ccc;
    align-items: center;
    margin-bottom: 10px;
}
.table .table_row__active {
    border-radius: 6px;
    background: rgb(212, 209, 226);
    align-items: center;
    display: flex;
    padding: 4px 10px;
    border-bottom: 1px solid #ccc;
    align-items: center;
    margin-bottom: 10px;
}
.table_header {
    padding: 10px 10px;
    min-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-weight: bold;
    color: #503E8D;
    background: rgb(226, 222, 228);
    border-radius: 10px;
}

.table .image {
    width: 20px;
    margin-right: 20px;
}
.table .image img {
    cursor: pointer;
}
.table .image img:hover {
    background: #ddd;
}

.table .code {
    width: 60px;
    margin-right: 20px;
}
.table_header .amount{
    display: block !important;
}
.table .title {
    width: 500px;
    max-width: 500px;
    margin-right: 20px;
}
.table .amount {
    text-align: center;
    width: 160px;
    max-width: 160px;
    margin-right: 20px;
    display: flex;
}
.table .amount input {
    height: 30px;
    font-size: 14px;
    width: 60px;
    padding: 4px 10px;
}
.table .amount button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 30px;
    font-weight: bold;
    border-radius: 6px;
    background: #fff;
    font-size: 20px;
    color: #503E8D;
    border: 2px solid #503E8D;
    height: 30px;
    margin: 0 10px;
}
.table .amount button:hover {
    background: #503E8D;
    color: #fff;
}
.table .amount button:disabled {
    border: 2px solid rgb(226, 222, 228);
    color: rgb(226, 222, 228);
    cursor:no-drop
    /* background: #503E8D;
    color: #fff; */
}
.table .amount button:disabled:hover {
    color: rgb(226, 222, 228);
    background: #fff;
    /* background: #503E8D;
    color: #fff; */
}

.table .price {
    text-align: center;
    width: 90px;
    margin-right: 20px;
}
.table .summ {
    text-align: center;
    width: 60px;
    margin-right: 20px;
}

.table .table_header .image {

}

.image__gallery {
    position: fixed;
    background: rgba(255,255,255,0.97);
    top: 5%;
    left: 10%;
    width: 80%;
    box-shadow: 0 6px 20px #ccc;
    border-radius: 20px;
    padding: 20px;
    height: 88vh;
    z-index: 999 !important
}

.close_button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #503E8D;
    border: 3px solid #503E8D;
    border-radius: 50%;
    position: fixed;
    right: 5%;
    top: 5%;
    width: 60px;

    height: 60px;
}
.close_button:hover {
    background: #503E8D;
    color: #fff;
}
.close_button svg {
    width: 30px;
    height: 30px;
}

.table__category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:6px 20px;
    border-radius: 10px;
    background: #503E8D;
    /* font-weight: bold; */
    color: #fff;
    font-size:16px;
    margin-bottom: 20px;
}
.table__category svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.table__category svg:hover {
    color: #ccc;
}