.input_group {
    display: flex;
    flex-direction: column;
    /* max-width: 30%; */
    margin-bottom: 10px;
}
.input_group label {
    margin-bottom: 6px;
}
.order__screen form {
    display: flex;
    min-width: 100%;
}
.order__screen form > div {
    width: 30%;
    margin-right: 3%;
}

@media screen and (max-width: 900px) {
    .order__screen form {
        flex-wrap: wrap;
    }
    .order__screen form > div {
        width: 45% !important;
        margin-right: 3%;
    }
}

@media screen and (max-width: 640px) {
    .order__screen form {
        flex-wrap: wrap;
    }
    .order__screen form > div {
        width: 100% !important;
        /* margin-right: 3%; */
    }
}