.input_group {
    display: flex;
    flex-direction: column;
    /* max-width: 30%; */
    margin-bottom: 10px;
}
.input_group label {
    margin-bottom: 6px;
}
.order__screen form {
    display: flex;
    min-width: 100%;
}
.order__screen form > div {
    width: 30%;
    margin-right: 3%;
}